---
import MainLayout from "../layouts/MainLayout.astro";
import FlashcardsPage from "../components/flashcards/FlashcardsPage";
---

<MainLayout title="Zarządzanie fiszkami | 10x Cards">
  <div class="bg-gray-50 min-h-screen">
    <FlashcardsPage client:load />
  </div>
</MainLayout>
